<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="report_resources/css/style.css"/>

    <link rel="stylesheet" type="text/css" href="report_resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="report_resources/css/bootstrap-table.css"/>

    <script src="report_resources/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="report_resources/js/pixelmatch.js"></script>
    <script src="report_resources/js/bootstrap.js" type="text/javascript"></script>
    <script src="report_resources/js/bootstrap-table.js" type="text/javascript"></script>
    <script src="report_resources/js/extensions/toolbar/bootstrap-table-toolbar.js"></script>

    <script src="report_resources/js/scripts.js" type="text/javascript"></script>
    <script src="report_resources/js/images-substr.js"></script>
    <script src="report_resources/js/bootstrap-table-custom.js"></script>

    <title>{{ title | env_override("STAGE_NAME") }}</title>
</head>
<body>

    <a name="#top"/>
    <a id="goTop" href="#top" title="Go top"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" aria-label="Go top"></span></a>

    <div id="infoBox"></div>

    <div id="header">
        <img src="report_resources/img/logo.png"/>
    </div>

    <h1>{{ machine_name | env_override("STAGE_NAME") }}</h1>
    <h1>{{ machine_name | env_override("JOB_NAME") }}</h1>

    <div class="jsTableWrapper">
        <table id="mainTable"
               class="baseTable detailedTable"
               data-toggle="table"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="false"
               data-show-columns="true"
               data-show-pagination-switch="true"
               data-pagination="false"
               data-page-size="5"
               data-page-list="[1, 5, 10, 20, 45, ALL]"
               data-sort-order="asc"
               data-sort-name="test_case">
            <thead>
                <tr>
                    <th data-field="test_case" data-halign="center" data-valign="center" data-sortable="true" data-visible="false" width="10px">Test case</th>
                    <th data-field="test_case_copy" data-halign="center" data-valign="center" data-sortable="true" data-events="copyTestCaseName" width="100px">
                        Test name
                        <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Button click copy direct test case link to clipboard"></span>
                    </th>
                    <th data-field="ref_img" data-halign="center" data-valign="center" data-sortable="true" data-formatter="metaAJAX">Reference image</th>
                    <th data-field="out_img" data-halign="center" data-valign="center" data-sortable="true" data-formatter="metaAJAX">Output image</th>
                    <th data-field="diff_img" data-halign="center" data-valign="center" data-sortable="true">Image delta</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases_list %}
                <tr>
                    <td>{{ case }}</td>
                    <td><button class="commonButton" type="button" name="copyDirectLinkButton">{{ case }}</button></td>
                    <td class="hatching" id="TRef{{ loop.index }}"><img id="Ref{{ loop.index }}" data-src="ReferenceImages/{{ case }}"/></td>
                    <td class="hatching" id="TOut{{ loop.index }}"><img id="Out{{ loop.index }}" data-src="OutputImages/{{ case }}"/></td>
                    <td class="hatching" id="TDiff{{ loop.index }}">
                        <canvas id="Diff{{ loop.index }}"></canvas>

                        <form class="popupForm" oninput="currentThresholdView{{ loop.index }}.value=parseFloat(thresholdRange{{ loop.index }}.value)">
                            <input  autocomplete="true" id="thresholdRange{{ loop.index }}" type="range" name="thresholdSelector{{ loop.index }}" min="0.0" max="1" step="0.01" value="0.0"
                                    oninput="renderCanvasData('Ref{{ loop.index }}', 'Out{{ loop.index }}', 'Diff{{ loop.index }}', this.value);"/>
                            <output for="thresholdSelector{{ loop.index }}" name="currentThresholdView{{ loop.index }}">0.0</output>
                        </form>
                        <script>
                            window.setTimeout( function(){
                                waitImgLoadAndRenderCanvasData('Ref{{ loop.index }}', 'Out{{ loop.index }}', 'Diff{{ loop.index }}', 0.0);
                            }, 100* {{ loop.index }} );
                        </script>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="footer">
        Hybrid
        <br>
        2019
    </div>

</body>
</html>
